<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project-Mapper">
<sql id="search">
		<if test="searchType == 's'.toString()">
			and samester like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'n'.toString()">
			and project_name like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'sn'.toString()">
			and (
			title like '%'||#{keyword}||'%'
			or
			content like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="startDate != null and endDate != null">
  		and project_date between #{startDate} and #{endDate}
		</if>
	</sql>
	<select id="selectsearchProjectList" parameterType="pageMaker" resultType="projectlist">
	select *
	from stu_project
	WHERE mem_id = #{mem_id}
	</select>
	<select id="selectsearchProjectListCount" parameterType="pageMaker" resultType="int">
	select 
	count (*)
	from stu_project
	where mem_id = #{mem_id}
	<include refid="search" />
	</select>
		<select id="selectsearchProjectListpro" parameterType="pageMaker" resultType="projectlist">
	select *
	from pro_project
	WHERE mem_id = #{mem_id}
	</select>
	<select id="selectsearchProjectListCountpro" parameterType="pageMaker" resultType="int">
	select 
	count (*)
	from pro_project
	where mem_id = #{mem_id}
	<include refid="search" />
	</select>
<select id="selectProjectList" resultType="project">
	select p.*
	from project p
	join team_member tm on p.team_id = tm.team_id
	join account a on tm.team_member = a.mem_id
	where mem_id = #{mem_id}
</select>

<!-- 교수 조회 -->
<select id="selectProfessorList" resultType="account">
    SELECT mem_id, mem_name, picture
    FROM account
    WHERE mem_auth = 2
</select>
<!-- 학생 조회 -->
<select id="selectTeamMemberList" resultType="account">
   SELECT mem_id, mem_name, picture
  FROM account
  WHERE mem_auth = 1
</select>
<select id="selectMemberListById" parameterType="str" resultType="account">
	select mem_id, mem_name, picture
	from account
	where mem_id=#{mem_id}

</select>
<insert id="insertTeamMemberList" parameterType="str">
  insert into team_member(
  team_id, team_member)
  values
  (#{team_id},#{team_member})
</insert>
<insert id="insertTeamLeader" parameterType="str">
	insert into team(
	team_id, team_leader)
	values
	(#{team_id},#{team_leader})	
</insert>
<insert id="insertProject">
	insert into project(
	project_id,project_name,project_desc,project_stdate,project_endate,profes_id,team_id,samester)
	values(
	#{project_id},#{project_name},#{project_desc},#{project_stdate, jdbcType=TIMESTAMP},#{project_endate, jdbcType=TIMESTAMP},
	#{profes_id},#{team_id},#{samester}
	) 
</insert>
  <!-- 프로젝트 ID 생성 (시퀀스) -->
  <select id="selectProjectSeqNext" resultType="str">
    SELECT 'P' || LPAD(project_seq.NEXTVAL, 5, '0') FROM dual
  </select>

  <!-- 팀 ID 생성 (시퀀스) -->
  <select id="selectTeamSeqNext" resultType="str">
    SELECT 'T' || LPAD(team_seq.NEXTVAL, 5, '0') FROM dual
  </select>



</mapper>
